.contact-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 20px auto;
    width: min(80%, 500px);
    padding: 10px;
    border: 1px solid #aaa5aa;
    border-radius: 5px;
    
}

.form-group * {
    width: 100%;
    box-sizing: border-box;
}

.submit-button {
    background-color: #aaa5aa;
    border: none;
    color: rgb(33, 31, 35);
    padding: 10px;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
